<h1>Listing categories</h1>
  <ul>
    <% @categories.each do |category| %>
        <li><%= category.name %></li>
        <ul>
          <% category.products.each do |product|%>
            <li>
              <%= "#{product.item} $#{product.price}" %>
            </li>
          <% end %>
        </ul>
        <li><%= link_to 'New Product', new_category_product_path(category)%></li>
    <% end %>
  </ul>
<br>

<%= link_to 'New Category', new_category_path %>
